div{
  padding: 10px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th {
  font-weight: bold;
  font-size: 14px;
}

.fabButton {
  display: block;
  margin-left: auto;
}

.edit {
  background-color: transparent;
  border: none;
  font-style: italic;
  text-decoration: underline;
  color: blue;
  cursor:pointer;
}
