<form class="container" [formGroup]="productFlowService.formGroup" autocomplete="off">
	<mat-form-field appearance="outline">
		<mat-label>Nombre</mat-label>
		<input matInput name="nombre" formControlName="productName" />
		<mat-icon matSuffix class="material-icons-outlined">badge</mat-icon>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Categoria</mat-label>
		<mat-select formControlName="categoryId">
			<mat-option *ngFor="let category of categoriesList" [value]="category.categoryId">{{
				category.categoryName
			}}</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Precio Unitario</mat-label>
		<input matInput name="precioUnitario" type="number" formControlName="productPrice" />
		<mat-icon matSuffix class="material-icons-outlined">sell</mat-icon>
	</mat-form-field>
	<mat-checkbox color="primary" formControlName="productEnabled">Vigencia</mat-checkbox>
	<app-question-save-data
		[disabledButtonRegister]="productFlowService.formGroup.invalid"
		[showLoader]="productFlowService.showLoader"
		(saveEvent)="productFlowService.registerProduct()"
	></app-question-save-data>
</form>
